.app__top-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-around;
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    padding: 0.5rem 0 1rem;
    overflow: hidden;
    transition: .3s;
    z-index: 1;
    max-height: 20px;
}
.app__top-nav-bar a.top-nav-item {
    display: inline-flex;
    width: 25%;
    color: rgba(0,0,0,0.5);
    height: 2.5em;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 2.5em;
    margin: .5rem 0;
}

.app__top-nav-bar a.top-nav-item i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 0;
    border-radius: 8px;
    height: 55px;
    border: 1px dashed #444;
}
.nav_bar_toggle_chk {
    display: none;
}

.nav_bar_toggle_chk:checked + .app__top-nav-bar {
    max-height: 200px;
}
.nav_bar_toggle_lbl {
    display: block;
    padding-left: 15px;
}
