div.weui-navbar
  div(class='weui-navbar__item' + (tabIdx ==0 ? ' weui-bar__item_on' : ''))
    a(href='#home-0')
      i(class='fa fa-home fa-fw')
  div(class='weui-navbar__item' + (tabIdx ==1 ? 'weui-bar__item_on' : ''))
    a(href='#acts-0')
      i(class='fa fa-calendar fa-fw')
  div(class='weui-navbar__item' + (tabIdx ==2 ? 'weui-bar__item_on' : ''))
    a(href='#club-0')
      i(class='fa fa-users fa-fw')